/*Paleta de colores azul:
#001b48
#004581
#018abd
#97cbdc
#dde8f0 

*/


.jumbotron {
    background-color: #004581;
    color:white;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 10px 10px;
    background-color: #004581;
    color: white;
    margin-bottom: 0px;
    margin-top:10px
}

footer div a{
    color:white;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%
    
}

.footer-address-icon{
    padding-right: 10px; 
}

.tab-content{
    padding-top: 10px;
}

h5:hover{
    color: grey
}